body{
  background-image: url("../dice.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.frm{
  width: 50%;
}
.resultPlayer1{
  background-color: white;
  padding: 40px;
  margin-top: 50px;
  margin-right: 75%;
  color: black;
}
.resultPlayer2{
  background-color: white;
  padding: 40px;
  margin-top: 50px;
  margin-right: 75%;
  color: black;
}
