body{
  background-image: url("../dice.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Spectral', serif;
}
.frm{
  width: 50%;
}
.resultPlayer1{
  background-color: white;
  padding: 40px;
  margin-top: 50px;
  margin-right: 75%;
  color: black;
  font-size: 25px;
  border-radius: 5px;
}
.resultPlayer2{
  background-color: white;
  padding: 40px;
  margin-top: 80px;
  margin-right: 75%;
  color: black;
  font-size: 25px;
  border-radius: 5px;
}
.winner{
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;

}
.winner h3{
  color: black;
}
#role2, #hold2{
  display: none;
}
